GRAFANA_ADMIN_USER={{ observability_grafana_admin_user | default('admin') }}
GRAFANA_ADMIN_PASSWORD={{ observability_grafana_admin_password_runtime }}
{% if (observability_grafana_alerting_provisioning_enabled | default(false)) and (observability_grafana_alert_telegram_bot_token_runtime | default('') | length > 0) %}
GRAFANA_ALERTS_TELEGRAM_BOT_TOKEN={{ observability_grafana_alert_telegram_bot_token_runtime }}
{% endif %}
{% if (observability_grafana_alerting_provisioning_enabled | default(false)) and (observability_grafana_alert_telegram_chat_id_runtime | default('') | length > 0) %}
GRAFANA_ALERTS_TELEGRAM_CHAT_ID={{ observability_grafana_alert_telegram_chat_id_runtime }}
{% endif %}
{% if observability_adguard_exporter_enabled | default(false) %}
ADGUARD_EXPORTER_USERNAME={{ observability_adguard_exporter_username_runtime | default(observability_adguard_exporter_username_effective) }}
ADGUARD_EXPORTER_PASSWORD={{ observability_adguard_exporter_password_runtime }}
{% endif %}
