[defaults]
inventory = inventory.ini
roles_path = roles
host_key_checking = True
retry_files_enabled = False
stdout_callback = default
interpreter_python = auto_silent
inject_facts_as_vars = False
callback_result_format = yaml
callback_format_pretty = True
